.yuckHead{
  background-color: #80b918;
  max-width: auto; 
  height: auto;
  display: flex;
  justify-content: center;
  
  
  
}

.Home{
  background-color: #80b918;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin: auto;
  text-align: center;

}