.yuckHead{
  display: flex;
  width: 5%;
  height: 10%;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
}

.Home{
  background-color: crimson;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin: auto;
  text-align: center;

}