.Nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #080707;
}

.Nav-title {
  color: #fff;
  font-size: 1.5rem;
  margin: 0;
}

.Nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.Nav-item {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.Nav-item:hover {
  background-color: #5f5959;
}

.Nav-link {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.Nav-link.active {
  color: #5f5959;
}
